h1 {
    font-weight: normal;
    text-align: center;
    background: grey;
    
}

body{
    font-family: consolas , verdana;
}

.uno, .dos, .tres{
    font-size: 25px;
    text-align: justify;
    line-height: 25px;
    /* text-decoration: overline underline line-through; */
    /* text-transform: lowercase; */
    /* letter-spacing: 20px;
    word-spacing: 5px; */
    text-shadow: 5px 5px 5px blue;
}